//- doctype html 
//- html 
//- head 
//- title = "Hello world"
//- link(rel="stylesheet",href="/home.css")
//- body 
//- nav 
//- ul 
//- li 
//- a(href='/about') about 
//- li 
//- a(href="/contact") contact 
//- p.greetings#people Hello World! 
//- h1#first-heading This is a heading one 
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Forest Showcase
    link(rel="stylesheet", href="design.css")
  body
    .background
      .content
        .text-overlay
          h1 afri
            span can
            |  forest
          p 
            | Discover the breathtaking beauty and diverse wildlife of Africa's ancient forests.
            br
            | Explore the lush landscapes, vibrant ecosystems, and experience nature like never before.
          nav
            ul
              li: a(href="/about") About
              li: a(href="/contact") Contact
        .image-overlay



